# URL Base que o NEXT publicamente usa para contactar o NGINX/Django via Browser
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/api
# URL Base que o NEXT App (Servidor interno) pinga na API para Fetch do Next Auth
INTERNAL_API_BASE_URL=http://backend:8000/api

# URL do Frontend usada para links
NEXT_PUBLIC_APP_URL=http://localhost:3000
